<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Matheus</title>
</head>
<body>
    <header class="menu">
        <div class="menu-container">
              <a href="/" >Sobre</a>
              <a href="/classes" >Aulas</a>
        </div>
    </header>
    <div id="wrapper-class">
         <h1>Aulas</h1>
    </div>
    <div class="container">
   
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
    <section class="cards" id="{{item.id}}">

        <div class="card-container">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="content">
        </div>
        <div class="card-content">
            <p>Formulario animado com Matheus</p>
        </div>
        <div class="card-info">
            <p>57 min</p>
            <p class="price">Free</p>
        </div>
   
    </section>
        


    <div class="modal-overlay active">
          <div class="modal">
              <a class="close-modal">
                     <i class="material-icons">close</i>
              </a>
              <div class="modal-content">
                <iframe width="600" height="375" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
    </div>

<script src="/script.js"></script>
</body>
</html>