<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Matheus</title>
</head>
<body>
    <header class="menu">
        <div class="menu-container">
              <a href="/" class="one">Sobre</a>
              <a href="/classes" class="two">Aulas</a>
        </div>
    </header>
    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/46993493?s=460&v=4" alt="avatar">
      
            <h1>Matheus <span>Martins</span> </h1>
            <h2>Web Developer</h2>
            <p>I used new stacks for development as React.js, Node.js and React Native.</p>
        
    </div>
    <div class="link">
        <a href="/">Github</a>
        <a href="/">Twitter</a>
        <a href="/">LinkedIn</a>
    </div>
</body>
</html>